* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #74b9ff, #0984e3);
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: #0984e3;
    font-size: 28px;
}

.search-box {
    display: flex;
    gap: 10px;
}

.search-box input {
    flex: 1;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #74b9ff;
    outline: none;
    font-size: 16px;
}

.search-box button {
    padding: 12px 20px;
    border: none;
    background: #0984e3;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.search-box button:hover {
    background: #0652DD;
}

.error-text {
    display: none;
    margin-top: 10px;
    color: red;
    text-align: center;
    font-size: 14px;
}

.weather-card {
    margin-top: 25px;
    text-align: center;
}

.weather-card h3 {
    font-size: 24px;
    font-weight: 600;
}

.temp {
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0;
}

.desc {
    font-size: 18px;
    color: #555;
}

.extra-info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.extra-info div {
    background: #f1f1f1;
    padding: 12px;
    width: 48%;
    border-radius: 12px;
}

.extra-info h4 {
    font-size: 16px;
    color: #333;
}

.extra-info p {
    font-size: 20px;
    font-weight: 600;
}
