* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'regular', sans-serif;
    background-color: #222;
}

html, body {
    width: 100%;
    height: 100%;   
}

/* 
.box {
    height: 300px;
    width: 300px;
    position: relative;
    overflow: hidden;
}

.box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    
    
}

.box .btm {
    background-color: black;
    height:20%;
    width: 100%;
    bottom: -20%;
    color: white;
    position: absolute;
    background: linear-gradient(transparent,black);
}

.box:hover .btm {
    /* background-color: transparent; */
    /* transition: 0.5s;
    bottom: 0%; */
/* } */

.parent {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    overflow: auto;
}

.child {
    height: 300px;
    width: 300px;
    background-color:antiquewhite ;
    flex-shrink: 0;
}

.child:nth-child(2n) {
    background-color: aquamarine;
}

.parent::-webkit-scrollbar {
    background: none;
}