:root {
    --x : 300px;
    --y : 300px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body {
    height: 100%;
    width: 100%;
    background-color: #222;
}

.box {
    width: 100%;
    height: 100%;
    position: relative;
}

.box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(150px at var(--x) var(--y) , transparent,#222);
    z-index: 2;
    pointer-events: none;
}

.box video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}