* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body {
    height: 100%;
    width: 100%;
}


.header {
    width: 100%;
    height: 160px;
    background: purple;
    text-align: center;
    padding-top: 30px;
    color: #d5d3d3;
}

.header h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.about {
    width: 80%;
    margin: auto;
    height: 180px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.596);
    padding: 20px;
    font-size: 20px;
    line-height: 1.6;
    color: #111;
    border: #111 1px solid;
    font-weight: 300;

}

.about h3 {
    margin-bottom: 10px;
    font-size: 30px;
    color: purple;
    text-align: center;
    text-transform: uppercase;
}

.about p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
    font-size: medium;
    font-weight: 300;
}

.Education {
    width: 80%;
    margin: auto;
    height: 180px;
    margin-top: 20px;
    background: rgb(186, 215, 223);
    padding: 20px;
    font-size: 20px;
    line-height: 1.6;
    color: #111;
    border: #111 1px solid;
    font-weight: 300;
    border-radius: 2px;
}

h3 {
    margin-bottom: 10px;
    font-size: 30px;
    color: purple;
    text-align: center;
    text-transform: uppercase;
}

.degree {
    width: 60%;
    height: 25px;
    background-color: white;
    margin:auto;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.6;
    font-size: medium;
}
.degrees {
    width: 60%;
    height: 25px;
    background-color: white;
    margin:auto;
    text-align: center;
    line-height: 1.6;
    font-size: medium;
}

.Skill {
    width: 80%;
    margin: auto;
    height: 250px;
    margin-top: 20px;
    background-color: rgb(166, 193, 236);
    padding: 20px;
    font-size: 20px;
    line-height: 1.6;
    color: #111;
    border: #111 1px solid;
    font-weight: 300;
    border-radius: 2px;
}

.skills {
    width: 60%;
    height: 25px;
    background-color: white;
    margin:auto;
    text-align: center;
    margin-bottom: 14px;
    border-radius: 2px;
    font-size: medium;
    line-height: 1.6;
}

.Project {
    width: 80%;
    margin: auto;
    height: 250px;
    margin-top: 20px;
    background-color : rgb(236, 236, 170);
    padding: 20px;
    font-size: 20px;
    line-height: 1.6;
    color: #111;
    border: #111 1px solid;
    font-weight: 300;
    border-radius: 2px;
}

.Contact {
    width: 80%;
    margin: auto;
    height: 220px;
    margin-top: 20px;
    background-color : rgb(200, 240, 200);
    padding: 20px;
    font-size: 20px;
    line-height: 1.6;
    color: #111;
    border: #111 1px solid;
    font-weight: 300;
    border-radius: 2px;
}

.footer {
    width: 100%;
    height: 70px;
    background: black;
    text-align: center;
    padding-top: 25px;
    color: #d5d3d3;
    margin-top: 25px;
}
