* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: greenyellow;
    background-color: #222;
}

html,body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 2rem;
    font-weight: bold;
}