* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body {
    height: 100%;
    width: 100%;
}

body {
    padding: 10px;
    background-color: #222;
}
main {
    height: 100%;
    width: 100%;
}



.all-reels {
    height: 100vh;
    width: 400px;
    margin: auto;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.all-reels::-webkit-scrollbar {
    display: none;
}

.reel {
    height: 100vh;
    width: 100%;
    background-color: #000;
    position: relative;
    scroll-snap-align: start;
}

.reel video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.bottom {
    width: 100%;
    height: 140px;
    /* background-color: crimson; */
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    /* gap: 5px; */
    margin-bottom: 10px;
    /* z-index: 10; */
}

.bottom img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 5px 10px;
    object-fit: cover;
}

.bottom h2 {
    color: #fff;
    margin: 10px;
    font-weight: 500;
    font-size: 20px;
}

.bottom button {
    padding: 5px 10px;
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.caption {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    z-index: 10;
}

.caption p {
    font-size: 17px;
}

.right {
    position: absolute;
    right: 10px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    z-index: 10;
}
.right .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    pointer-events: none;
}

.right .icon i {
    font-size: 30px;
}

.right .icon span {
    font-size: 12px;
}

.right .like {
    width: 50px;
}

#fill {
    color: crimson;
}

.right div span {
    pointer-events: none;
}

.right div i {
    pointer-events: none;
}




