* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body {
    height: 100%;
    width: 100%;
    /* background-color: #222; */
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    height: 350px;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #555;
    border-radius: 10px;
}

section img {
    height: 290px;
    width: 190px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
}

section img:hover {
    /* transform: scale(1.05); */
    box-shadow: 0 0 15px #ff4081;
}

.card {
    position: relative;
    overflow: hidden;
}

.card i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(-60deg);
    font-size: 60px;
    color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0;
    background: linear-gradient(to right bottom, purple,pink);
    background-clip: text;
    -webkit-background-clip: text;
}