* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  width: 100%;
  section#view1 {
    width: 100%;
    background-color: #121212;
    padding: 10px;

    .top {
      border-radius: 1rem;
    }

    img {
      width: 100%;
      border-radius: 1rem;
    }

    .bottom {
      border-radius: 1rem;
      background-color: #1e1e1e;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.8rem;

      small {
        color: #f4f2ed;
        font-weight: 400;
        padding: 0 1rem;
      }

      .text {
        color: #f4f2ed;
        padding: 1rem;

        h1 {
          font-weight: 400;
          line-height: 2.5rem;
          text-transform: uppercase;
        }

        p {
          line-height: 1.5rem;
          opacity: 0.6;
          margin-bottom: 1.6rem;
        }

        span {
          border: 1px solid white;
          font-weight: 400;
          padding: 6px 12px;
          border-radius: 5px;
        }
      }
    }
  }

  section#view2 {
    width: 100%;
    background-color: #121212;
    padding: 10px;
    color: white;

    .text1,
    .text2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 0.3rem;
    }

    .top {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      padding: 1.4rem;

      span {
        font-weight: 400;
        font-size: 0.8rem;
      }
      h1 {
        font-size: 3rem;
        font-weight: 400;
      }
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      padding: 1.4rem;

      h1 {
        font-size: 3rem;
        font-weight: 400;
      }

      span {
        font-weight: 400;
        font-size: 0.8rem;
      }
    }
  }

  section#view3 {
    width: 100%;
    background-color: #121212;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .top {
      border-radius: 1rem;

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
    }

    .bottom {
      border-radius: 1rem;
      background-color: #1e1e1e;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.8rem;

      small {
        color: #f4f2ed;
        font-weight: 400;
        padding: 1rem;
      }

      .text {
        color: #f4f2ed;
        padding: 1rem;

        h1 {
          font-weight: 400;
          line-height: 2.5rem;
          text-transform: uppercase;
          margin-bottom: 1rem;
        }

        p {
          line-height: 1.5rem;
          opacity: 0.6;
          padding-bottom: 1.2rem;
        }

        span {
          border: 1px solid white;
          font-weight: 400;
          padding: 6px 12px;
          border-radius: 5px;
        }
      }
    }
  }

  section#view4 {
    width: 100%;
    background-color: #121212;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .top {
      border-radius: 1rem;

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
    }

    .bottom {
      border-radius: 1rem;
      background-color: #1e1e1e;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.8rem;

      small {
        color: #f4f2ed;
        font-weight: 400;
        padding: 1rem;
      }

      .text {
        color: #f4f2ed;
        padding: 1rem;

        h1 {
          font-weight: 400;
          line-height: 2.5rem;
          text-transform: uppercase;
          margin-bottom: 1rem;
        }

        p {
          line-height: 1.5rem;
          opacity: 0.6;
          padding-bottom: 1.2rem;
        }

        span {
          border: 1px solid white;
          font-weight: 400;
          padding: 6px 12px;
          border-radius: 5px;
        }
      }
    }
  }

  section#view5 {
    width: 100%;
    background-color: #121212;
    color: #f4f2ed;
    padding: 1rem;

    h1 {
      font-weight: 400;
      text-transform: uppercase;
      padding: 2rem;
    }

    .cards1 {
      background-image: url(founder2.webp);
      margin-bottom: 0.7rem;
    }

    .cards2 {
      background-image: url(founder1.webp);
      margin-bottom: 0.7rem;
    }

    .cards3 {
      background-image: url(founder3.webp);
      margin-bottom: 0.7rem;
    }

    .cards1,
    .cards2,
    .cards3 {
      width: 100%;
      background-size: cover;
      background-position: center;
      aspect-ratio: 1/1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 1rem;
      padding: 1rem;

      .icon,
      .bottom {
        background-color: rgba(84, 84, 84, 0.375);
        backdrop-filter: blur(10px);
        border-radius: 0.4rem;
      }

      .icon {
        width: fit-content;
        border-radius: 50%;
        padding: 0.5rem;
      }

      .top {
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
      }

      .bottom {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
          font-weight: 400;
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 0.9rem;
          line-height: 1.4rem;
          opacity: 0.9;
        }
      }
    }
  }

  section#view6 {
    width: 100%;
    background-color: #121212;
    padding: 10px;
    color: #f4f2ed;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    gap: 1rem;

    .top {
      img {
        width: 100%;
        border-radius: 1rem;
      }
    }
      .bottom {
        background-color: #1e1e1e;
        padding: 1rem;
        width: 100%;
        border-radius: 1rem;

        h1 {
          font-size: 1.7rem;
          line-height: 2rem;
          opacity: 0.9;
          font-weight: 400;
          margin-top: 1rem;
        }

        small {
          opacity: 0.8;
        }

        button {
          padding: 5px 13px;
          margin-top: 2rem;
          border-radius: 50px;
        }
      }

  }
}

@media (min-width: 768px) {
  main {
    section#view1 {
      display: flex;
      gap: 1.5rem;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5rem;
        gap: 1rem;

        small {
          color: #f4f2ed;
          font-weight: 400;
        }

        .text {
          color: #f4f2ed;

          h1 {
            font-weight: 400;
            line-height: 2.5rem;
            text-transform: uppercase;
            margin-bottom: 2rem;
          }

          p {
            line-height: 2rem;
            opacity: 0.6;
            margin-bottom: 1.6rem;
            font-size: 1.2rem;
          }

          span {
            border: 1px solid white;
            font-weight: 400;
            padding: 6px 12px;
            border-radius: 5px;
          }
        }
      }
    }

    section#view2 {
      display: flex;
      justify-content: space-evenly;
      padding: 1rem;

      .top,
      .bottom {
        padding: 2rem;
        gap: 2rem;
        display: flex;
        justify-content: space-evenly;
        width: 50%;

        span {
          font-size: 1rem;
          opacity: 0.5;
        }
      }
    }

    section#view3 {
      flex-direction: row-reverse;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        .p {
          display: flex;
          justify-content: space-between;
          line-height: 1.6rem;
          gap: 2rem;
        }
      }
    }

    section#view4 {
      flex-direction: row;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        .p {
          display: flex;
          justify-content: space-between;
          line-height: 1.6rem;
          gap: 2rem;
        }
      }
    }

    section#view5 {
      #flex {
        display: flex;
        gap: 1rem;
      }
    }

    section#view6 {
      flex-direction: row;
      gap: 1.5rem;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        position: relative;
        padding: 2rem;

        h1 {
          font-size: 3rem;
          line-height: 3.5rem;
        }
      }

      button {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        font-size: 1.4rem;
        padding: 1rem 3rem;
      }
    }
  }
}
