body {
    background: #1b1b1b;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
    position: relative;
}

.img {
    padding: 15px 30px;
    border-radius: 2px;
    background: crimson;
    outline: none;
    border: none;
    cursor: pointer;
}

.img p {
    margin: 5px 0 0;
}

.menu {
    position: absolute;
    top: 60%;
    background: transparent;
    border: 1px solid #555;
    padding: 10px 0;
    width: 150px;
    border-radius: 6px;
    display: none;
    transition: 0.3s ease;
    position: absolute;
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu li {
    list-style: none;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
}

.menu li:hover {
    background: #444;
}
