* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    font-family: Arial, sans-serif;
    width: 100%;
}

body {
    background-color: #222;
    color: #eee;
    overflow: hidden;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
  padding: 12px 24px;
  font-weight: 600;
  font-size: 20px;
  background-color: crimson;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 2px;
  position: absolute;
  z-index: 9;
  color: white;
}

button:active {
    background-color: #0056b3;
    transform: scale(0.8);
}