/* CSS Boilerplate */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;;
}

.box {
    width: 300px;
    height: 350px;
    padding-inline: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 30px rgba(255,0,123);
    border-radius: 15px;
    background: linear-gradient(black) border-box,
                conic-gradient(from var(--angle), black,rgba(255,0,123), black) border-box;
    border: 5px solid rgba(255,255,255, 0);
    animation: rotate 5s infinite linear;
}

@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}


@keyframes rotate {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}