* {
    margin: 0;padding: 0;box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100vh;
    color: #111;
    font-family: Helvetica, sans-serif;
}

header {
    width: 100%;
    margin: auto; 
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
     background-color: white;
     padding: 10px 30px;
}

header .logo {
    font-size: 20px;
}

.logo {
    font-size: 15px;
    
}

#list {
    display: flex;
    list-style: none;
    gap: 55px;
}

#list a {
    text-decoration: none;
    color: #111;
}

button {
    padding: 13px 28px;
    border: none;
    margin-right: 15px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 10px;
}


.left {
        color: #0061FE;
        border: #0061FE 1px solid;
}

.left:hover {
        color: #fff;
        background-color: #0061FE;
        transition: background-color 0.3s ease;
}

.rite {
        color: #fff;
        background-color: #0061FE;
}


#main {
    width: 98%;
    margin: auto;
    height: 90vh;
    background-color: #F6F7F9;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 25% 1fr;
    grid-template-areas:
        "box1 box2"
        "box3 box3";
        grid-gap:20px;
        padding: 20px;
        border-radius: 15px;
}


.box1 {
    grid-area: box1;
    padding: 20px;
    height: 200px;
    /* border: 1px solid black; */
}

.box1 h1 {
    font-weight: 500;
    font-size: 35px;
    padding: 10px;
}


.box2 {
    grid-area: box2;
    padding: 25px;
}

.box2 p {
    color: #7F8082;
    font-size: 14px;
    margin-bottom: 5px;
}

.box2 button {
    margin-top: 10px;
}

.box2 #b1 {
    background-color: #0061FE;
    color: #F6F7F9;
}

.box2 #b2 {
    border: 1px solid #0061FE;
}

#b2:hover {
    background-color: #0061FE;
    transition: background-color 0.3s ease;
    color: #F6F7F9;
}


.box3 {
    grid-area: box3;
    height: 60vh;
}

.box3 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}


#page2 {
    width: 100%;
    /* height: 100vh; */
}

.hadings {
    display: flex;
}

.boxer1 {
    height: 250px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boxer1 h1 {
    font-weight: 500;
    padding: 5px;
    font-size: 60px;
}

.boxer1 p {
    color: #7F8082;
}


#page3 {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 10px;
    padding: 30px;
    background-color:#F6F7F9 ;
    border-radius: 25px;
    margin-bottom: 35px;
}

#page3 .pt1  {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
#page3 .pt2  {
    width: 50%;
}
#page3 .pt2 img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 25px;
}

#flex {
    height: 50%;
}

#flex h1 {
    font-weight:400;
    font-size: 35px;
    margin-bottom: 45px;
}
#flex p {
    font-weight:400;
    color: #7F8082;
    letter-spacing:2px;
}

.expertise {
    width: 50%;
    height: 250px;
    padding: 50px;
}

.h1{
    margin-top: 20px;
}

.h1 h1 {
    font-weight: 400;
    font-size: 39px;
}

.boss {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 15px;
}

.industries {
    width: 50%;
    padding: 20px;
}

.industries p {
    color: #7F8082;
    margin-top: 120px;
}


#imgs {
    width: 90%;
    margin: auto;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "img1 img2 img3 img4"
      "img5 img6 img7 img8";
    gap: 20px;
}


.img1 {
    background-color: antiquewhite;
    height: 400px;
    width: 250px;
    border: 1px solid black;
    grid-area:img1 ;
    border-radius: 25px;
}

.img1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
     border-radius: 25px;
}

.img2 {
    background-color: antiquewhite;
    height: 400px;
    width: 250px;
    border: 1px solid black;
    grid-area:img2 ;
     border-radius: 25px;

}

.img2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
     border-radius: 25px;
}
.img3 {
    background-color: antiquewhite;
    height: 400px;
    width: 250px;
    border: 1px solid black;
    grid-area:img3 ;
    border-radius: 25px;
}

.img3 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}
.img4 {
    background-color: antiquewhite;
    height: 400px;
    width: 250px;
    border: 1px solid black;
    grid-area:img4 ;
    border-radius: 25px;

}

.img4 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}
.img5 {
    background-color: antiquewhite;
    height: 400px;
    width: 250px;
    border: 1px solid black;
    grid-area:img5 ;
    border-radius: 25px;
}

.img5 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;

}


.img6 {
    background-color: antiquewhite;
    height: 400px;
    width: 250px;
    border: 1px solid black;
    grid-area:img6 ;
    border-radius: 25px;
}

.img6 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}
.img7 {
    background-color: antiquewhite;
    height: 400px;
    width: 250px;
    border: 1px solid black;
    grid-area:img7 ;
    border-radius: 25px;
}

.img7 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.img8 {
    background-color: antiquewhite;
    height: 400px;
    width: 250px;
    border: 1px solid black;
    grid-area:img8;
    border-radius: 25px;
}

.img8 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}


#page4 {
    width: 100%;
}

footer {
    width: 95%;
    margin: auto;
    height: 90vh;
    background-color: #232323;
    display: grid;
    grid-template-columns: 30% 1fr 1fr 1fr;
    grid-template-rows: 90% 10%;
    grid-template-areas: "f1 f2 f3 f4"
                     "f5 f5 f5 f5"  ;
    border-radius: 25px;
}

.f1 {
    padding: 45px;
    grid-area: f1;
}
.f1 h1 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #C0C0C0;
}

.f1 h3 {
    font-size: 20px;
    padding-top: 10px;
    font-weight: 400;
    color: #C0C0C0;
}

.f1 > button {
    background-color: #0061FE;
    color: #C0C0C0;
    padding:10px 22px;
    margin-left: 10px;
}

.f1 input {
    padding: 10px 10px;
    border-radius: 50px;
    border: none;
    font-size: 10px;
    color: #C0C0C0;
    margin-top: 15px;
}

.f2 {
    /* background-color: forestgreen; */
    color: #C0C0C0;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: f2;
}
.f2 ul li {
    list-style: none;
    padding-bottom: 10px;
}


.f3 {
    /* background-color: green; */
    color: #C0C0C0;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: f3;
} 

.f3 ul li {
    list-style: none;
    padding-bottom: 10px;
}

.f4 {
    color: #C0C0C0;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: f4;
} 

.f4 ul li {
    list-style: none;
    padding-bottom: 10px;
}


.f5 {
    grid-area: f5;
    color: #C0C0C0;
    text-align: center;
}