/* CSS Boilerplate */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
}

.box {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn {
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid white;
}